.e2_280 {
	overflow: hidden;
}

a:link {
	text-decoration: none;
}

.e2_280 {
	background-color: rgba(207.1875, 181.2890625, 181.2890625, 1);
	width: 1890px;
	height: 1007px;
	position: absolute;
}
.e2_283 {
	box-shadow: 0px 44px 84px
		rgba(216.00000232458115, 217.0000022649765, 219.0000021457672, 1);
	background-color: rgba(255, 255, 255, 1);
	width: 1890px;
	height: 1007px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.e23_45 {
	background-color: rgba(
		246.0000005364418,
		134.00000721216202,
		106.00000128149986,
		1
	);
	width: 40px;
	height: 28px;
	position: absolute;
	left: 277px;
	top: 172px;
	border-radius: Symbol(mixed) px;
}
.e2_590 {
	color: rgba(252.00000017881393, 251.00000023841858, 255, 1);
	width: 180px;
	height: 38px;
	position: absolute;
	left: 374px;
	top: 318px;
	font-family: Roboto;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}
.e2_284 {
	background-color: rgba(
		249.00000035762787,
		249.00000035762787,
		249.00000035762787,
		1
	);
	width: 317px;
	height: 1007px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: Symbol(mixed) px;
}
.e2_285 {
	color: rgba(152.0000061392784, 84.00000259280205, 203.00000309944153, 1);
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 113px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_286 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_287 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}
.e2_288 {
	border: 1px solid
		rgba(105.00000134110451, 86.00000247359276, 229.00000154972076, 1);
}
.e2_288 {
	width: 7px;
	height: 7px;
	position: absolute;
	left: 3px;
	top: 3px;
}
.e2_289 {
	border: 1px solid
		rgba(105.00000134110451, 86.00000247359276, 229.00000154972076, 1);
}
.e2_289 {
	width: 7px;
	height: 7px;
	position: absolute;
	left: 14px;
	top: 3px;
}
.e2_290 {
	border: 1px solid
		rgba(105.00000134110451, 86.00000247359276, 229.00000154972076, 1);
}
.e2_290 {
	width: 7px;
	height: 7px;
	position: absolute;
	left: 14px;
	top: 14px;
}
.e2_291 {
	border: 1px solid
		rgba(105.00000134110451, 86.00000247359276, 229.00000154972076, 1);
}
.e2_291 {
	width: 7px;
	height: 7px;
	position: absolute;
	left: 3px;
	top: 14px;
}
.e2_292 {
	color: rgba(152.0000061392784, 84.00000259280205, 203.00000309944153, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_293 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 176px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_294 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_295 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}
.e2_296 {
	height: 50px;
	width: 50px;
}
.e2_296 {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 3px;
	top: 3px;
}
.e2_297 {
	color: rgb(255, 0, 0);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_298 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 239px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_299 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_300 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 1px;
	top: 5px;
}
.e2_301 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_301 {
	width: 16px;
	height: 6px;
	position: absolute;
	left: 1px;
	top: 15px;
}
.e2_302 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_302 {
	width: 8px;
	height: 8px;
	position: absolute;
	left: 5px;
	top: 3px;
}
.e2_303 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_303 {
	width: 3px;
	height: 5.869999885559082px;
	position: absolute;
	left: 20px;
	top: 15.130000114440918px;
}
.e2_304 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_304 {
	width: 3.007843017578125px;
	height: 7.75px;
	position: absolute;
	left: 16px;
	top: 3.130000114440918px;
}
.e2_305 {
	color: rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_306 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 302px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_307 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_308 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}
.e2_309 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_309 {
	width: 20px;
	height: 14px;
	position: absolute;
	left: 2px;
	top: 7px;
}
.e2_310 {
	border: 2px solid
		rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
}
.e2_310 {
	width: 8px;
	height: 18px;
	position: absolute;
	left: 8px;
	top: 3px;
}
.e2_311 {
	color: rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_312 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 430px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_313 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_314 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}

.e2_315 {
	width: 19.88873291015625px;
	height: 19.92821502685547px;
	position: absolute;
	left: 2.1118831634521484px;
	top: 1.9999030828475952px;
}
.e2_316 {
	color: rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_317 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 493px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_318 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_319 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}
/* .e2_320 { 
	border:2px solid rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
} */
.e2_320 {
	width: 20px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: 3px;
}
.e2_321 {
	color: rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
}
.e2_322 {
	width: 200px;
	height: 49px;
	position: absolute;
	left: 45px;
	top: 556px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.e2_323 {
	width: 180px;
	height: 25px;
	position: absolute;
	left: 0px;
	top: 12px;
}
.e2_324 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0.5px;
}
/* .e2_325 { 
	border:2px solid rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
} */
.e2_325 {
	width: 6px;
	height: 6px;
	position: absolute;
	left: 9px;
	top: 9px;
	margin-top: 45px;
}
/* .e2_326 { 
	border:2px solid rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
} */
/* .e2_326 { 
	width:22px;
	height:22px;
	position:absolute;
	left:1px;
	top:1px;
} */
.e2_327 {
	color: rgba(135.00000715255737, 135.00000715255737, 135.00000715255737, 1);
	width: 140px;
	height: 25px;
	position: absolute;
	left: 40px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0;
	margin-top: 50px;
}
.e2_591 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 1223px;
	top: 77px;
}
/* .e2_592 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e2_592 { 
	width:18px;
	height:15px;
	position:absolute;
	left:3px;
	top:2px;
}
.e2_593 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e2_593 { 
	width:3.4599990844726562px;
	height:0.9964561462402344px;
	position:absolute;
	left:10.270000457763672px;
	top:21px;
} */
.e2_594 {
	width: 88px;
	height: 50px;
	position: absolute;
	left: 1287px;
	top: 64px;
}
.e2_595 {
	border-radius: 500px;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/unsplash_nohb3fjsy90.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e2_596 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 64px;
	top: 13px;
}
.e2_597 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
}
/* .e2_598 { 
	background-color:rgba(35.00000171363354, 38.0000015348196, 47.0000009983778, 1);
	width:8.486000061035156px;
	height:5.656999588012695px;
	position:absolute;
	left:7.756999969482422px;
	top:9.343000411987305px;
} */
.e2_599 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 1159px;
	top: 77px;
}
/* .e2_600 { 
	border:2px solid rgba(0, 0, 0, 1);
} */
/* .e2_600 { 
	width:16px;
	height:16px;
	position:absolute;
	left:3px;
	top:3px;
} */
/* .e2_601 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e2_601 { 
	width:4.350000381469727px;
	height:4.350000381469727px;
	position:absolute;
	left:16.649999618530273px;
	top:16.649999618530273px;
} */
.e2_811 {
	width: 185px;
	height: 61px;
	position: absolute;
	left: 374px;
	top: 57px;
}
.e2_812 {
	color: rgba(35.00000171363354, 38.0000015348196, 47.0000009983778, 1);
	width: 185px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Manrope;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
	line-height: px;
}
.e2_813 {
	color: rgba(130.0000074505806, 130.0000074505806, 130.0000074505806, 1);
	width: 172px;
	height: 19px;
	position: absolute;
	left: 0px;
	top: 42px;
	font-family: Manrope;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}
.e2_10438 {
	width: 391px;
	height: 248px;
	position: absolute;
	left: 386px;
	top: 239px;
}
.e2_10389 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 1);
	width: 391px;
	height: 248px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}
.e2_10389 {
	border: 1px solid
		rgba(190.18750101327896, 78.45234587788582, 78.45234587788582, 1);
}
.e2_10390 {
	color: rgba(39.31250050663948, 38.493488654494286, 38.493488654494286, 1);
	width: 130px;
	height: 29px;
	position: absolute;
	left: 37px;
	top: 25px;
	font-family: Roboto;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}
.e2_10391 {
	color: rgba(118.00000056624413, 97.00000181794167, 226.0000017285347, 1);
	width: 120px;
	height: 30px;
	position: absolute;
	left: 51px;
	top: 116px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10392 {
	color: rgba(246.0000005364418, 134.00000721216202, 106.00000128149986, 1);
	width: 101px;
	height: 30px;
	position: absolute;
	left: 51px;
	top: 160px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10393 {
	background-color: rgba(
		118.00000056624413,
		97.00000181794167,
		226.0000017285347,
		1
	);
	width: 43px;
	height: 136px;
	position: absolute;
	left: 233px;
	top: 64px;
	border-radius: Symbol(mixed) px;
}
.e2_10394 {
	background-color: rgba(
		246.0000005364418,
		134.00000721216202,
		106.00000128149986,
		1
	);
	width: 40px;
	height: 28px;
	position: absolute;
	left: 277px;
	top: 172px;
	border-radius: Symbol(mixed) px;
}
.e2_10430 {
	width: 391px;
	height: 248px;
	position: absolute;
	left: 871px;
	top: 239px;
}
.e2_10431 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 1);
	width: 391px;
	height: 248px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}
.e2_10431 {
	border: 1px solid
		rgba(190.18750101327896, 78.45234587788582, 78.45234587788582, 1);
}
.e2_10434 {
	color: rgba(89.00000229477882, 230.00000149011612, 246.0000005364418, 1);
	width: 168px;
	height: 30px;
	position: absolute;
	left: 33px;
	top: 124px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10435 {
	color: rgba(250.00000029802322, 190.0000038743019, 122.00000032782555, 1);
	width: 181px;
	height: 30px;
	position: absolute;
	left: 33px;
	top: 168px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10437 {
	color: rgba(39.31250050663948, 38.493488654494286, 38.493488654494286, 1);
	width: 130px;
	height: 29px;
	position: absolute;
	left: 33px;
	top: 35px;
	font-family: Roboto;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}
.e2_10530 {
	width: 871px;
	height: 331.0025939941406px;
	position: absolute;
	left: 391px;
	top: 548.9987182617188px;
}
.e2_10531 {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 1);
	width: 871px;
	height: 331.0025939941406px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}
.e2_10531 {
	border: 1px solid
		rgba(190.18750101327896, 78.45234587788582, 78.45234587788582, 1);
}
.e2_10532 {
	color: rgba(39.31250050663948, 38.493488654494286, 38.493488654494286, 1);
	width: 146.86122131347656px;
	height: 32.761348724365234px;
	position: absolute;
	left: 62.13359451293945px;
	top: 19.20492935180664px;
	font-family: Roboto;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}
.e2_10533 {
	width: 343.4293212890625px;
	height: 254.18287658691406px;
	position: absolute;
	left: 462.0480041503906px;
	top: 61.00389099121094px;
}
.e2_10534 {
	background-color: rgba(252.00000017881393, 251.00000023841858, 255, 1);
	width: 343.4293212890625px;
	height: 254.18287658691406px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 22.686567306518555px;
	border-top-right-radius: 22.686567306518555px;
	border-bottom-left-radius: 22.686567306518555px;
	border-bottom-right-radius: 22.686567306518555px;
}
.e2_10535 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 251.1647186279297px;
	height: 59.052589416503906px;
	position: absolute;
	left: -25.983139038085938px;
	top: 37.38285827636719px;
	font-family: Poppins;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10536 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 93.5460433959961px;
	height: 38.51255416870117px;
	position: absolute;
	left: 37.280155181884766px;
	top: 144.601806640625px;
	font-family: Roboto;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}
.e2_10537 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 44.85084533691406px;
	height: 38.51255416870117px;
	position: absolute;
	left: 269.22308349609375px;
	top: 144.601806640625px;
	font-family: Roboto;
	text-align: right;
	font-size: 14px;
	letter-spacing: 0;
}
.e2_10538 {
	width: 276.7937927246094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 38.443580627441406px;
	top: 121.95642852783203px;
}
.e2_10539 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 276.7937927246094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.e2_10541 {
	border: 2.2686567306518555px solid
		rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_10541 {
	width: 279.356689453125px;
	height: 0px;
	position: absolute;
	left: 35.88067626953125px;
	top: 195.13027954101562px;
}
.e2_10546 {
	width: 22.59403419494629px;
	height: 22.59403419494629px;
	position: absolute;
	left: 305.01947021484375px;
	top: 10.167315483093262px;
}
.e2_10547 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 4.23639440536499px;
}
.e2_10548 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 9.884902954101562px;
}
.e2_10549 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 15.533411026000977px;
}
.e2_10550 {
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 21.464332580566406px;
	top: 208.99481201171875px;
}
.e2_10551 {
	border-radius: 500px;
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 23.723735809326172px;
	top: 207.8651123046875px;
	background-image: url(images/ellipse_9.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e2_10551 {
	border: 1px solid rgba(255, 255, 255, 1);
}
.e2_10552 {
	border-radius: 500px;
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 38.40985870361328px;
	top: 207.8651123046875px;
	background-image: url(images/ellipse_10.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e2_10552 {
	border: 1px solid rgba(255, 255, 255, 1);
}
.e2_10553 {
	color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 109.58106994628906px;
	height: 27.11284065246582px;
	position: absolute;
	left: 21.464332580566406px;
	top: 16.945524215698242px;
	font-family: Poppins;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}
.e2_10554 {
	width: 343.4293212890625px;
	height: 254.18287658691406px;
	position: absolute;
	left: 77.94941711425781px;
	top: 61.00389099121094px;
}
.e2_10555 {
	background-color: rgba(252.00000017881393, 251.00000023841858, 255, 1);
	width: 343.4293212890625px;
	height: 254.18287658691406px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 22.686567306518555px;
	border-top-right-radius: 22.686567306518555px;
	border-bottom-left-radius: 22.686567306518555px;
	border-bottom-right-radius: 22.686567306518555px;
}
.e2_10556 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 251.1647186279297px;
	height: 59.052589416503906px;
	position: absolute;
	left: -25.983139038085938px;
	top: 37.38285827636719px;
	font-family: Poppins;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0;
}
.e2_10557 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 93.5460433959961px;
	height: 38.51255416870117px;
	position: absolute;
	left: 37.280155181884766px;
	top: 144.601806640625px;
	font-family: Roboto;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
}
.e2_10558 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 44.85084533691406px;
	height: 38.51255416870117px;
	position: absolute;
	left: 269.22308349609375px;
	top: 144.601806640625px;
	font-family: Roboto;
	text-align: right;
	font-size: 14px;
	letter-spacing: 0;
}
.e2_10559 {
	width: 276.7937927246094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 38.443580627441406px;
	top: 121.95642852783203px;
}
.e2_10560 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 276.7937927246094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.e2_10562 {
	width: 210.09080505371094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 38.44357681274414px;
	top: 121.95642852783203px;
}
.e2_10563 {
	background-color: rgba(
		250.00000029802322,
		190.0000038743019,
		122.00000032782555,
		1
	);
	width: 210.09080505371094px;
	height: 10.270014762878418px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.e2_10565 {
	border: 2.2686567306518555px solid
		rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_10565 {
	width: 279.356689453125px;
	height: 0px;
	position: absolute;
	left: 35.88067626953125px;
	top: 195.13027954101562px;
}
.e2_10570 {
	width: 22.59403419494629px;
	height: 22.59403419494629px;
	position: absolute;
	left: 305.01947021484375px;
	top: 10.167315483093262px;
}
.e2_10571 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 4.23639440536499px;
}
.e2_10572 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 9.884902954101562px;
}
.e2_10573 {
	background-color: rgba(
		217.0000022649765,
		217.0000022649765,
		217.0000022649765,
		1
	);
	width: 2.824254274368286px;
	height: 2.824254274368286px;
	position: absolute;
	left: 9.884906768798828px;
	top: 15.533411026000977px;
}
.e2_10574 {
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 21.464332580566406px;
	top: 208.99481201171875px;
}
.e2_10575 {
	border-radius: 500px;
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 23.723735809326172px;
	top: 207.8651123046875px;
	background-image: url(images/ellipse_9.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e2_10575 {
	border: 1px solid rgba(255, 255, 255, 1);
}
.e2_10576 {
	border-radius: 500px;
	width: 28.242542266845703px;
	height: 28.242542266845703px;
	position: absolute;
	left: 38.40985870361328px;
	top: 207.8651123046875px;
	background-image: url(images/ellipse_10.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.e2_10576 {
	border: 1px solid rgba(255, 255, 255, 1);
}
.e2_10577 {
	color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 109.58106994628906px;
	height: 27.11284065246582px;
	position: absolute;
	left: 21.464332580566406px;
	top: 16.945524215698242px;
	font-family: Poppins;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0;
}
.e2_10578 {
	background-color: rgba(245.00000059604645, 242.00000077486038, 255, 1);
	width: 298px;
	height: 349px;
	position: absolute;
	left: 12px;
	top: 633px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.e2_10578 {
	border: 1.5px solid
		rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
}
.e2_10579 {
	box-shadow: 9.937499046325684px 14.906248092651367px 24.843748092651367px
		rgba(0, 0, 0, 0.05000000074505806);
	background-color: rgba(245.00000059604645, 242.00000077486038, 255, 1);
	width: 298px;
	height: 281px;
	position: absolute;
	left: 13px;
	top: 701px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.e2_10580 {
	width: 278.25px;
	height: 238.5px;
	position: absolute;
	left: 19.875px;
	top: 19.875px;
}
.e2_10581 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ei2_10581_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 26px;
	height: 18px;
	position: absolute;
	left: 6.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10582 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 39.75px;
}
.ei2_10582_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10583 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 79.5px;
}
.ei2_10583_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10584 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 119.25px;
}
.ei2_10584_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 11px;
	height: 18px;
	position: absolute;
	left: 14.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10585 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 159px;
}
.ei2_10585_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10586 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 0px;
	top: 198.75px;
}
.ei2_10586_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10587 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: -1.4210854715202004e-14px;
}
.ei2_10587_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 22px;
	height: 18px;
	position: absolute;
	left: 8.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10588 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: 39.75px;
}
.ei2_10588_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10589 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: 79.5px;
}
.ei2_10589_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 16px;
	height: 18px;
	position: absolute;
	left: 11.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10590 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: 119.25px;
}
.ei2_10590_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 11px;
	height: 18px;
	position: absolute;
	left: 14.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10591 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: 159px;
}
.ei2_10591_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10592 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 39.75px;
	top: 198.75px;
}
.ei2_10592_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 14px;
	height: 18px;
	position: absolute;
	left: 12.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10593 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: -1.4210854715202004e-14px;
}
.ei2_10593_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 28px;
	height: 18px;
	position: absolute;
	left: 5.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10594 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: 39.75px;
}
.ei2_10594_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 11px;
	height: 18px;
	position: absolute;
	left: 14.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10595 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: 79.5px;
}
.ei2_10595_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 14px;
	height: 18px;
	position: absolute;
	left: 12.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10596 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: 119.25px;
}
.ei2_10596_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10597 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: 159px;
}
.ei2_10597_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 11px;
	height: 18px;
	position: absolute;
	left: 14.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10598 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 79.5px;
	top: 198.75px;
}
.ei2_10598_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10599 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: -1.4210854715202004e-14px;
}
.ei2_10599_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 22px;
	height: 18px;
	position: absolute;
	left: 8.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10600 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: 39.75px;
}
.ei2_10600_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10601 {
	border: 0.9937498569488525px solid
		rgba(100.00000163912773, 55.00000052154064, 159.0000057220459, 1);
}
.e2_10601 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: 79.5px;
	border-top-left-radius: 9.937498092651367px;
	border-top-right-radius: 9.937498092651367px;
	border-bottom-left-radius: 9.937498092651367px;
	border-bottom-right-radius: 9.937498092651367px;
}
.ei2_10601_2_27 {
	color: rgba(100.00000163912773, 55.00000052154064, 159.0000057220459, 1);
	width: 16px;
	height: 18px;
	position: absolute;
	left: 11.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10602 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: 119.25px;
}
.ei2_10602_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10603 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: 159px;
}
.ei2_10603_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 14px;
	height: 18px;
	position: absolute;
	left: 12.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10604 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 119.25px;
	top: 198.75px;
}
.ei2_10604_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10605 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: -1.4210854715202004e-14px;
}
.ei2_10605_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 14px;
	height: 18px;
	position: absolute;
	left: 12.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10606 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: 39.75px;
}
.ei2_10606_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10607 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: 79.5px;
}
.ei2_10607_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10608 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: 119.25px;
}
.ei2_10608_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10609 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: 159px;
}
.ei2_10609_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 14px;
	height: 18px;
	position: absolute;
	left: 12.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10610 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 159px;
	top: 198.75px;
}
.ei2_10610_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10611 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: -1.4210854715202004e-14px;
}
.ei2_10611_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 20px;
	height: 18px;
	position: absolute;
	left: 9.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10612 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: 39.75px;
}
.ei2_10612_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10613 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: 79.5px;
}
.ei2_10613_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10614 {
	background-color: rgba(
		152.0000061392784,
		84.00000259280205,
		203.00000309944153,
		1
	);
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: 119.25px;
	border-top-left-radius: 9.937498092651367px;
	border-top-right-radius: 9.937498092651367px;
	border-bottom-left-radius: 9.937498092651367px;
	border-bottom-right-radius: 9.937498092651367px;
}
.ei2_10614_2_29 {
	color: rgba(245.00000059604645, 242.00000077486038, 255, 1);
	width: 11px;
	height: 18px;
	position: absolute;
	left: 14.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10615 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: 159px;
}
.ei2_10615_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10616 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 198.75px;
	top: 198.75px;
}
.ei2_10616_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10617 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: -1.4210854715202004e-14px;
}
.ei2_10617_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 23px;
	height: 18px;
	position: absolute;
	left: 8.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10618 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: 39.75px;
}
.ei2_10618_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10619 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: 79.5px;
}
.ei2_10619_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 8px;
	height: 18px;
	position: absolute;
	left: 15.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10620 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: 119.25px;
}
.ei2_10620_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 12px;
	height: 18px;
	position: absolute;
	left: 13.874996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10621 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: 159px;
}
.ei2_10621_2_22 {
	color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10622 {
	width: 39.74999237060547px;
	height: 39.74999237060547px;
	position: absolute;
	left: 238.5px;
	top: 198.75px;
}
.ei2_10622_2_25 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 15px;
	height: 18px;
	position: absolute;
	left: 12.374996185302734px;
	top: 10.874996185302734px;
	font-family: Poppins;
	text-align: center;
	font-size: 11.92499828338623px;
	letter-spacing: 0;
}
.e2_10623 {
	color: rgba(39.00000147521496, 16.000000946223736, 78.00000295042992, 1);
	width: 214px;
	height: 66px;
	position: absolute;
	left: 35px;
	top: 638px;
	font-family: Poppins;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0;
}
.e23_44 {
	background-color: rgba(
		110.00000104308128,
		233.00000131130219,
		247.00000047683716,
		1
	);
	width: 43px;
	height: 169px;
	position: absolute;
	left: 1128px;
	top: 270px;
	border-radius: Symbol(mixed) px;
}
.e23_46 {
	background-color: rgba(207.1875, 181.2890625, 181.2890625, 1);
	width: 40px;
	height: 42px;
	position: absolute;
	left: 1171px;
	top: 397px;
	border-radius: Symbol(mixed) px;
}
